.login-background-container {
  background: url("../../assets/img/login_background.jpg") center/cover
    no-repeat;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/img/login_background.jpg") center/cover no-repeat;
  height: 100vh;
  text-align: center;
  padding: 20px;
}

.login-container-wrapper {
  width: 300px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;

  background-image: url("../../assets/img/table_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.login-title {
  color: var(--primary-color);
}

.login-input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Estilos para dispositivos de largura até 768px (tamanho de tablet) */
@media (max-width: 768px) {
  .login-container-wrapper {
    margin-top: 50px;
  }
}

/* Estilos para dispositivos de largura até 480px (tamanho de celular) */
@media (max-width: 480px) {
  .login-container-wrapper {
    padding: 0px;
  }

  .login-button {
    font-size: 14px;
  }
}
