.dragon-table {
  width: 100%;
  max-width: 900px;
  border-collapse: collapse;
  margin-top: 20px;
  background-image: url("../../assets/img/table_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
}

.dragon-table th {
  background-color: var(--accent-color);
  color: var(--primary-color);
  padding: 8px;
  text-align: left;
  border-radius: 10px;
}

.dragon-table td {
  padding: 8px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: bold;
}

.dragon-table--actions {
  display: flex;
  justify-content: space-evenly;
}

.table-top--actions {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

/* modo responsivo */

@media screen and (max-width: 600px) {
  .dragon-table--actions {
    display: flex;
    flex-direction: column;

    button {
      margin: 10px;
    }
  }
}
